#graphic
  %a(href="http://www.flickr.com/photos/mrhayata/141379190")
    image by mrhayata

#home-content
  Bookmates is a dating site for readers powered by
  %a(href="http://www.goodreads.com") goodreads.com
  %div
    - if signed_in?
      %a{:href => mates_path} Browse profiles
    - else
      %a.button{:href => sign_in_path}
        Get started!